.logo {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--text-second-color);

  &-accent,
  &:hover,
  &:focus,
  &:hover &-accent-studio,
  &:focus &-accent-studio {
    color: var(--text-third-color);
  }
}
.logo-accent-studio {
  color: var(--text-fifth-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
